:root {
    --Bright-Snow: #F4F9FD;
    --Platinum: #E5ECF2;
    --Alabaster-Grey: #DAE2E9;
    --Pale-Slate: #CAD4DD;
    --Pale-Slate2: #A9B5C1;
    --Slate-Grey: #687581;
    --Iron-Grey: #45505A;
    --Gunmetal: #303A43;
    --Carbon-Black: #1D252C;
    --Primary: hsl(0, 100%, 30%);
    --Secondary: hsl(0, 100%, 40%);
    --Bright-Red : rgb(226, 56, 56);

    /* kene valami cool zold orsbacsi meg valami masik piros*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}