:root {
    --Bright-Snow: #F4F9FD;
    --Platinum: #E5ECF2;
    --Alabaster-Grey: #DAE2E9;
    --Pale-Slate: #CAD4DD;
    --Pale-Slate2: #A9B5C1;
    --Slate-Grey: #687581;
    --Iron-Grey: #45505A;
    --Gunmetal: #303A43;
    --Carbon-Black: #1D252C;
    --Primary: #990000;
    --Secondary: #cc0000;
    --Bright-Red: #e23838;
    --Ferrari-Red: #FF2800;
    --Ferrari-Red2: #EE0600;
    --Green: #00ff67;
    --Main-Shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;

    /* kene valami cool zold orsbacsi meg valami masik piros*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}